<div class="container" id="contactid"><br>
        <h2 class="display-4 text-success text-center font-weight-bold">Student Registration Form</h2><br>
        <div class="col-lg-4 m-auto">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="FirstName">
                </div>
                <div class="form-group">
                    <label for="mname">Middle Name:</label>
                    <input type="text" class="form-control" id="mname" name="mname" placeholder="MiddleName">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="LastName">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                </div>    
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label for="branch">Branch:</label>
                    <input type="text" class="form-control" id="branch" name="branch" placeholder="Branch">
                </div>
                <div class="form-group">
                    <label for="rollno">RollNo.:</label>
                    <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll No.">
                </div>

                <button type="submit" class="btn-style btn-success ">Submit</button>
            </form>
        </div>
    </div>